{{!-- working on the review section to add to the front page --}}

<section class="reviews-section">
    <h2 class="recent-activity">Recent Activity</h2>
    <div class="reviews">
        {{#each reviews as |review|}}
            <div class="review">
                <h3>{{this.[0]}}</h3>
                <p>{{this.[1]}}</p>
                <p>Rating: {{this.[2]}}</p>
            </div>
        {{/each}}
    </div>
</section>