<head>
  <meta charset="UTF-8">
  <title>Commode Critic</title>
  <meta name="description" content="Review site for public toilets">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js">
    </script>
</head>

{{!-- taking the exmple and adding in the body information for handlebars --}}
<header>
    <h1>Commode Critic</h1>

    <button class="uk-button uk-button-default btn btn-login">Log In</button>
    <button class="uk-button uk-button-default btn-createAccount">Create Account</button>
    <button id="writeReviewButton" class="uk-button uk-button-default btn uk-flex uk-flex-center">Write Review</button>
    <button id="reviewButton" class="uk-button uk-button-default btn btn-login">Reviews</button>
</header>

<main>
  {{{body}}}
</main>

</html>