{{!-- homepage insert for the handlebars --}}

<main>
    <div class="slide-container">
        <div class="slideshow" uk-slideshow="animation: push; autoplay: true; autoplay-interval: 3000">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="/images/toilet-1.png" alt="toilet-1" uk-cover>
                    </li>
                    <li>
                        <img src="/images/toilet-2.png" alt="toilet-2" uk-cover>
                    </li>
                    <li>
                        <img src="/images/toilet-3.png" alt="toilet-3" uk-cover>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </div>
    <div class="search-results"></div>
</main>
<div id="custom-login-container"></div>

<!-- Reviews section -->

<footer>
    <div>
        <p>Disclaimer: We take reviewing public restrooms very seriously. Please don't flush this website's credibility
            down the drain.</p>
        <p>&copy; 20XX Commode Critic, Inc. All rights reserved, including the right to rate restroom rolls and flush
            fixtures.</p>
        <p>Designed with precision, a keen eye for cleanliness, and a hint of bathroom humor. Remember, it's a dirty
            job, but someone's gotta do it!</p>
    </div>
</footer>